.Imagem{
    width: 120px!important;
    height: 130px!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}
.titulo{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 7px;
    text-align: center;
}

@media screen and (min-width:840px) {
body{background: rgb(150, 150, 185);}

    .Imagem{
        border: 3px solid rgb(92, 82, 136);
        width: 100px!important;
        height: 100px!important;
    }

    .titulo_cabecalho{
        font-size: 22px;
        color:rgb(34, 14, 88);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }

}

@media screen and (min-width:1024px) {
    body{background: rgb(146, 112, 112);}

    .Imagem{
        border: 3px solid rgb(82, 8, 8);
        width: 130px!important;
        height: 130px!important;
    }

    .titulo_cabecalho{
        font-size: 24px;
        color:rgb(95, 6, 6);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


    
}